<div>
  <!-- Section 1-->
  <div class="bgSection1">
      <!-- Nav bar section-->
      <div fxLayout="row" ngClass="p20" fxLayoutAlign.gt-md="start center" fxLayoutAlign.lt-md="center center">
          <div fxFlex="30">
              <div ngClass.gt-md="pl60">
                  <img src="../assets/jouney-logo.png" alt="logo" class=""/>
              </div>
          </div>

          <div fxFlex="70" fxHide.lt-md fxLayoutGap="30px" fxLayout="row" fxLayoutAlign="end center" class="navSection">
            <div class="pointer"> How it works </div>
            <div class="pointer"> Sample trips </div>
            <div class="pointer"> Pricing </div>
            <div class="pointer"> Why us </div>
            <div class="pointer"> Get inspired</div>
            <div class="pointer"> Sign in</div>
            <div>
              <button type="button"  class="startBtn">Get Started</button>
            </div>
          </div>
      </div>
      <!-- Nav bar section End-->

      
      <!-- Content Area-->
      <div fxLayout="column" fxLayoutGap="30px" fxLayoutAlign="center center" ngClass.gt-md="mt10p" ngClass.lt-md="mt40">
          <div class="contentText" ngClass.gt-md="f60" ngClass.lt-md="f35">
              We plan your dream trip, exactly how you want it.
          </div>

          <div class="sub-contentText center" ngClass.gt-md="f18" ngClass.lt-md="f14">
              Get a personal travel designer to custom-build your dream trip — everything you need to take off worry free
          </div>

          <div class="sub-contentText center" ngClass.gt-md="f18" ngClass.lt-md="f14">
              <button type="button" class="btnRed">GET STARTED</button>
          </div>

          <div class="asSeenTxt pt40">
              AS SEEN IN
          </div>

          <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="center center" class="pb40">
              <div> How it works </div>
              <div> Sample trips </div>
              <div fxHide.lt-md> Pricing </div>
              <div fxHide.lt-md> Why us </div>
              <div> Get inspired</div>
              <div fxHide.lt-md>Sign in</div>
          </div>
      </div>
  </div>
  <!-- Section 1 end-->

  <!-- Section 2 Start-->
  <div class="bgSection2 h100p">
    <div class="section2Layout">
      
        <div fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutAlign="center center">
            <div fxflex="50" fxLayout="row" fxLayoutGap="10px" ngClass.gt-md="w40p">
                <div fxLayout="column">
                    <div class="Oval-1">1</div>
                    <div class="Path-1"></div>
                    <div class="Oval-2">2</div>
                    <div class="Path-2"></div>
                    <div class="Oval-2">3</div>
                </div>

                <div fxLayout="column">
                    <div ngClass.gt-md="f65" ngClass.lt-md="f30" class="How-it-works">How it works</div>
                    <div class="Share-your-travel-pr pt20" ngClass.gt-md="f28" ngClass.lt-md="f18">Share your travel preferences</div>

                    <div class="Fill-out-a-2-minute pt10">
                        Fill out a 2-minute questionnaire about how you like to travel, which we’ll use to plan a trip tailored exactly to what you want to do, see, and eat.
                    </div>
                </div>
            </div>

            <div fxflex="50" fxLayoutAlign="center center">
                <img src="../assets/MobileImg.png" alt="mobileImg" class="mask"/>
            </div>

        </div>
        
        <div class="shadowBack"></div>
    </div>

  </div>
  <!-- Section 2 End-->

  <!--Section 3 Start-->

    <div class="section3 center" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="40px">
        <div ngClass.gt-md="f45" ngClass.lt-md="f20">
            Our clients can’t stop raving
        </div>

        <div ngClass.gt-md="f28" ngClass.lt-md="f18">
            The process is super smooth and easy
        </div>
    </div>
  <!-- Section 3 End-->

  <!-- Section 4-->
    <div class="section4">
        <div class="section4Layout" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="40px">
            <div class="" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="40px">
                <div class="sec3title" ngClass.gt-md="f55" ngClass.lt-md="f25">
                    Three simple options
                </div>
                <div ngClass.gt-md="f18" ngClass.lt-md="f14">
                    <span>Have questions? </span> <span class="underLine">Schedule a call with us</span>
                </div>
            </div>

            <div fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutAlign.gt-md="center center" fxLayoutGap="30px">
                <div class="box">
                    <div class="" fxLayout="column">
                        <div fxFlex class="center cardTitle" ngClass.gt-md="f30" ngClass.lt-md="f20"> 
                          Destination Advice
                        </div>

                        <div fxFlex fxLayout="column" class="cardContent pt40" fxLayoutGap="30px">
                            <div>
                                Chat with an expert trip designer
                            </div>
                            <div>
                                 Chat with an expert trip designer
                            </div>
                            <div>
                                Chat with an expert trip designer
                            </div>
                            <div>
                                Chat with an expert trip designer
                            </div>
                        </div>
                      
                        <div class="cardFooter">
                            <div class="costContainer">
                                FREE
                            </div>
                            <div class="pt20">
                                <button type="button" class="btnRed w100p">GET STARTED</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box">
                  <div class="" fxLayout="column">
                      <div fxFlex class="center cardTitle" ngClass.gt-md="f30" ngClass.lt-md="f20"> 
                          Journy Lite
                      </div>

                      <div fxFlex fxLayout="column" class="cardContent pt40" fxLayoutGap="30px">
                          <div>
                              <span class="pl10"><i class="fa fa-check" aria-hidden="true"></i></span> Chat with an expert trip designer
                          </div>
                          <div>
                              <span class="pl10"><i class="fa fa-check" aria-hidden="true"></i></span> Chat with an expert trip designer
                          </div>
                          <div>
                              <span class="pl10"><i class="fa fa-check" aria-hidden="true"></i></span> Chat with an expert trip designer
                          </div>
                          <div>
                              <span class="pl10"><i class="fa fa-check" aria-hidden="true"></i></span> Chat with an expert trip designer
                          </div>
                      </div>
                    
                      <div class="cardFooter">
                          <div class="costContainer">
                              <sup class="f18">$</sup> <span>25</span>
                          </div>
                          <div class="pt20">
                              per day of travel
                          </div>
                          <div class="pt20">
                              <button type="button" class="btnRed w100p">GET STARTED</button>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="box">
                  <div class="" fxLayout="column">
                      <div fxFlex class="center cardTitle" ngClass.gt-md="f30" ngClass.lt-md="f20"> 
                          Journy Luxe
                      </div>

                      <div fxFlex fxLayout="column" class="cardContent pt40" fxLayoutGap="30px">
                          <div>
                              <span class="pl10"><i class="fa fa-check" aria-hidden="true"></i></span> Chat with an expert trip designer
                          </div>
                          <div>
                              <span class="pl10"><i class="fa fa-check" aria-hidden="true"></i></span> Chat with an expert trip designer
                          </div>
                          <div>
                              <span class="pl10"><i class="fa fa-check" aria-hidden="true"></i></span> Chat with an expert trip designer
                          </div>
                          <div>
                              <span class="pl10"><i class="fa fa-check" aria-hidden="true"></i></span> Chat with an expert trip designer
                          </div>
                      </div>

                      <div class="popular">
                          popular
                      </div>
                    
                      <div class="cardFooter">
                          <div class="costContainer">
                              <sup class="f18">$</sup> <span>50</span>
                          </div>
                          <div class="pt20">
                              per day of travel
                          </div>
                          <div class="pt20">
                              <button type="button" class="btnRed w100p">GET STARTED</button>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
  <!-- Section 4 end-->

  <!-- Section 5-->
    <div class="section5">
        <div class="section5Layout" ngClass.lt-md="pl20 pr20">
            <div fxLayout="column" fxLayoutAlign="center center">
                <div class="With-Journy-there-a" ngClass.gt-md="f45 w50p" ngClass.lt-md="f24 w100p">
                    With Journy, there are no hidden markups or fees
                </div>
            </div>

            <div class="pt30" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="40px">
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px" ngClass.gt-md="w50p" ngClass.lt-md="w100p">
                    <div>
                        <i class="fa fa-car f45 iconColor"></i>
                    </div>
                    <div fxLayout="column">
                        <div class="sectio5Title">
                            <img src="../assets/label.png" alt="label"/>
                        </div>
                        <div class="sectio5Content">
                            $50 per day for full-service travel planning (luxe), or $25 per day if you don’t need reservations or bookings (lite).
                        </div>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px" ngClass.gt-md="w50p" ngClass.lt-md="w100p">
                    <div>
                        <i class="fa fa-car f45 iconColor"></i>
                    </div>
                    <div fxLayout="column">
                        <div class="sectio5Title">
                            <img src="../assets/label.png" alt="label"/>
                        </div>
                        <div class="sectio5Content">
                            $50 per day for full-service travel planning (luxe), or $25 per day if you don’t need reservations or bookings (lite).
                        </div>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px" ngClass.gt-md="w50p" ngClass.lt-md="w100p">
                    <div>
                        <i class="fa fa-car f45 iconColor"></i>
                    </div>
                    <div fxLayout="column">
                        <div class="sectio5Title">
                            <img src="../assets/label.png" alt="label"/>
                        </div>
                        <div class="sectio5Content">
                            $50 per day for full-service travel planning (luxe), or $25 per day if you don’t need reservations or bookings (lite).
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <!-- SEction 5 end-->

  <!-- Section 6-->
  <div class="section6">
      <div class="section5Layout" ngClass.lt-md="pl20 pr20">
        <div fxLayout="column" fxLayoutGap="30px"> 
          <div fxLayout="column" fxLayoutAlign="center center">
              <div class="section6Title" ngClass.gt-md="f45 w60p" ngClass.lt-md="f24 w100p" >
                  The best food & drink recommendations, curated just for you
              </div>
          </div>

          <div fxLayout="column" fxLayoutAlign="center center">
              <div class="section6Content" ngClass.gt-md="f18 w60p" ngClass.lt-md="f14 w100p">
                  Based on your preferences, your trip designer taps into our exclusive network of top chefs and local experts to make sure you don’t miss out on the best things to eat, drink, see, and do.
              </div>
          </div>

          <div fxLayout="row" fxLayoutGap="30px">
              <div fxLayout="column" fxLayoutGap="30px">
                  <div>
                    
                  </div>
              </div>
          </div>
        </div>
      </div>
  </div>
  <!-- Section 6 End-->
</div>